torch==2.11.0
torchvision==0.26.0
torchaudio==2.11.0
torchmetrics==1.9.0

numpy==2.4.3
soundfile==0.13.1
librosa
pystoi
tqdm
matplotlib
pandas

comet_ml
huggingface_hub
safetensors
hydra-core
requests
